- if @item.favorite_item_by?(current_user)
  = link_to item_favorite_item_path(@item), method: :delete, remote: true do
    %i=fa_icon "heart",class:"icon-like"
    %span いいね！
    =@item.favorite_items.count
- else
  = link_to item_favorite_items_path(@item), method: :post, remote: true do
    %i=fa_icon "heart",class:"icon-like"
    %span いいね！
    =@item.favorite_items.count
