-breadcrumb :users 
.user-main
  .user-container
    = render '/users/sidebar'
    .user-container_right-content
      .user-container_right-content_info
        .user-container_right-content_info_content
          .user-container_right-content_info_content
            .user-container_right-content_info_content_title
              %ul
                = link_to exhibits_path do
                  %li
                    出品中
                %li{class: "active"}
                  売却済み
            .user-container_right-content_info_content_list
              %ul
                - @exhibits.each do |exhibit|
                  %li
                    = link_to item_path(exhibit.item.id) do
                      .user-container_right-content_info_content_list_icon
                        %img{alt: "メルカリ", height: "48px", width: "48px", src: "#{exhibit.item.item_images[0].image}"}
                      .user-container_right-content_info_content_list_detail
                        =exhibit.item.name
                        .user-container_right-content_info_content_list_detail_sellList
                          .user-container_right-content_info_content_list_detail_sold
                            売却済
                      .user-container_right-content_info_content_list_next
                        =fa_icon "angle-right"
                - if @exhibits.empty?
                  .user-container_right-content_items_list
                    .user-container_right-content_items_list_none
                      %img{alt: "メルカリ", height: "120px", width: "120px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_items_list_none_image"}
                      %br
                      売却済みの商品はありません。