.user-main
  .user-container
    = render 'sidebar'
    .user-container_right-content
      .user-container_right-content_info
        .user-container_right-content_info_head
          %a{ href: '#'}
            .user-container_right-content_info_head_icon
              %img{alt: "メルカリ", height: "60px", width: "60px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_info_head_icon_image"}
            .user-container_right-content_info_head_name
              名前
            .user-container_right-content_info_head_review
              評価   20   出品数   5
            .user-container_right-content_info_head_info
        .user-container_right-content_info_content
          .user-container_right-content_info_content
            .user-container_right-content_info_content_title
              %ul
                %li{class: "active"}
                  お知らせ
                %li
                  やることリスト
            .user-container_right-content_info_content_list
              %ul
                %li
                  .user-container_right-content_info_content_list_icon
                    %img{alt: "メルカリ", height: "48px", width: "48px", src: "http://static.mercdn.net/images/mercari_profile.png"}
                  .user-container_right-content_info_content_list_detail
                    %a{ href: '#'}
                      テキストテキストテキストテキストテキストテキスト
                    .user-container_right-content_info_content_list_detail_time
                      %i.far.fa-clock
                      21時間前
                  .user-container_right-content_info_content_list_next
                    =fa_icon "angle-right"
                %li
                  .user-container_right-content_info_content_list_icon
                    %img{alt: "メルカリ", height: "48px", width: "48px", src: "http://static.mercdn.net/images/mercari_profile.png"}
                  .user-container_right-content_info_content_list_detail
                    %a{ href: '#'}
                      テキストテキストテキストテキストテキストテキスト
                    .user-container_right-content_info_content_list_detail_time
                      %i.far.fa-clock
                      21時間前
                  .user-container_right-content_info_content_list_next
                    =fa_icon "angle-right"
                %li
                  .user-container_right-content_info_content_list_icon
                    %img{alt: "メルカリ", height: "48px", width: "48px", src: "http://static.mercdn.net/images/mercari_profile.png"}
                  .user-container_right-content_info_content_list_detail
                    %a{ href: '#'}
                      テキストテキストテキストテキストテキストテキスト
                    .user-container_right-content_info_content_list_detail_time
                      %i.far.fa-clock
                      21時間前
                  .user-container_right-content_info_content_list_next
                    =fa_icon "angle-right"
                %li
                  .user-container_right-content_info_content_list_icon
                    %img{alt: "メルカリ", height: "48px", width: "48px", src: "http://static.mercdn.net/images/mercari_profile.png"}
                  .user-container_right-content_info_content_list_detail
                    %a{ href: '#'}
                      テキストテキストテキストテキストテキストテキスト
                    .user-container_right-content_info_content_list_detail_time
                      %i.far.fa-clock
                      21時間前
                  .user-container_right-content_info_content_list_next
                    =fa_icon "angle-right"
                %li
                  .user-container_right-content_info_content_list_icon
                    %img{alt: "メルカリ", height: "48px", width: "48px", src: "http://static.mercdn.net/images/mercari_profile.png"}
                  .user-container_right-content_info_content_list_detail
                    %a{ href: '#'}
                      テキストテキストテキストテキストテキストテキスト
                    .user-container_right-content_info_content_list_detail_time
                      %i.far.fa-clock
                      21時間前
                  .user-container_right-content_info_content_list_next
                    =fa_icon "angle-right"
                %li{class: "user-container_right-content_info_content_list_go"}
                  %a{ href: '#'}
                    一覧を見る
            -# .user-container_right-content_info_content_info
            -#   %a{ href: 'http://google.co.jp'}
            -#     一覧を見る
      .user-container_right-content_items
        .user-container_right-content_items_head
          購入した商品
        .user-container_right-content_items_title
          %ul
            %li{class: "active"}
              取引中
            %li
              過去の取引
        .user-container_right-content_items_list
          .user-container_right-content_items_list_none
            %img{alt: "メルカリ", height: "120px", width: "120px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_items_list_none_image"}
            %br
            取引中の商品はありません。
