- breadcrumb :logout
.user-main
  -# ここにパンくずきます
  .clearBoth
  .user-container
    .logoutWrapper
      = render 'sidebar'
      .logoutMain
        .logoutMain__container
          %form.logoutMain__container__inner(action="")
            .logoutMain__container__inner__logOutBtn
              = link_to destroy_user_session_path{:method }, method: :delete do
                %button.logoutMain__container__inner__logOutBtn__btn
                  ログアウト
