.user-form
  %main.user-form__main
    .user-form__main__warpper
      %h2.user-form__main__data 
        新規会員登録
      .user-form__main__box
        = link_to new_user_registration_path do
          .user-form__main__box__mail
            %i.fa.fa-envelope
            メールアドレスで登録
        = link_to user_facebook_omniauth_authorize_path do
          .user-form__main__box__facebook
            %i.fab.fa-facebook-square
            Facebookで登録
        = link_to user_google_oauth2_omniauth_authorize_path do
          .user-form__main__box__google
            %i.fab.fa-google
            Googleで登録
