.user-main
  .user-container
    .user-container_left-content
      .user-container_left-content_info
        .user-container_left-content_info_list
          %ul
            %liマイページ
            %liお知らせ
            %liやることリスト
            %liいいね！一覧
            %li出品する
            %li出品した商品 - 出品中
            %li出品した商品 - 取引中
            %li出品した商品 - 売却済み
            %li購入した商品 - 取引中
            %li購入した商品 - 過去の取引
            %liニュース一覧
            %li評価一覧
            %liガイド
            %liお問い合わせ
        .user-container_left-content_info_head
          メルペイ
        .user-container_left-content_info_list
          %ul
            %li売上・振込申請
            %liポイント
        .user-container_left-content_info_head
          設定
        .user-container_left-content_info_list
          %ul
            %liプロフィール
            %li発送元・お届け先住所変更
            %li支払い方法
            %liメール/パスワード
            %li本人情報
            %li電話番号の確認
            %liログアウト
    .user-container_right-content
      .user-container_right-content_info
        .user-container_right-content_info_head
          %a{ href: 'http://google.co.jp'}
            .user-container_right-content_info_head_icon

            .user-container_right-content_info_head_name
              名前
            .user-container_right-content_info_head_info
        .user-container_right-content_info_content
          .user-container_right-content_info_content
            .user-container_right-content_info_content_title
              %ul
                %liお知らせ
                %liやることリスト
            .user-container_right-content_info_content_list
              %ul
                %liテキストテキストテキストテキストテキストテキスト
                %liテキストテキストテキストテキストテキストテキスト
                %liテキストテキストテキストテキストテキストテキスト
                %liテキストテキストテキストテキストテキストテキスト
                %liテキストテキストテキストテキストテキストテキスト
            .user-container_right-content_info_content_info
              %a{ href: 'http://google.co.jp'}
                一覧を見る
      .user-container_right-content_items
        .user-container_right-content_items_head
          購入した商品
        .user-container_right-content_items_title
          %ul
            %li取引中
            %li過去の取引
