.user-details
  .user-details_profile
    .user-details_profile_icon
      %img{alt: "メルカリ", height: "180px", width: "180px", src: "http://static.mercdn.net/images/mercari_profile.png", class: "user-container_right-content_info_head_icon_image"}
    .user-details_profile_name
      テスト
    .user-details_profile_info
      評価   20   出品数   5
  .user-details_review
    good normal bad
  .user-details_description
    テキストテキストテキストテキストテキスト
    .user-details_description_social-buttons
