.app-banner
  =image_tag("banner_bottom_tmp.jpg",class: "bottom-image")
  
%footer
  %nav.nav-contents
    .footer-cell
      %h2 メルカリについて
      %ul
        %li  
        %li　採用情報
        %li　プレスリリース
        %li　公式ブログ
        %li　メルカリロゴ利用ガイドライン
        %li.footer-social-link
          =link_to "/" do
            =fa_icon "twitter"
        %li.footer-social-link
          =link_to "/" do
            =fa_icon "facebook-square"
    .footer-cell
      %h2 ヘルプガイド
      %ul
        %li　メルカリガイド
        %li　らくらくメルカリ便
        %li　ゆうゆうメルカリ便
        %li　大型メルカリ便
        %li　車体取引ガイド
        %li　メルカリ安心・あんぜん宣言！
        %li　偽ブランド品撲滅への取り組み
        %li　メルカリボックス
    .footer-cell--full-width
      %h2 ヘルプガイド
      .inner-footer-cell-wrapper
        .inner-footer-cell
          %ul
            %li　メルカリガイド
            %li　らくらくメルカリ便
            %li　ゆうゆうメルカリ便
            %li　大型メルカリ便
        .inner-footer-cell
          %ul
            %li　メルカリガイド
            %li　らくらくメルカリ便
            %li　ゆうゆうメルカリ便
            %li　大型メルカリ便
  .footer_bottom
    =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3160895340"),"/",class: "icon-l"
    .footer-copyright
      %span.copyright © 2019 Mercari
.footer-sell-btn
  =link_to "/items/new" do
    %p.sell 出品
    =fa_icon"camera", class: 'icon'