.user-container_right-content_address {
  float: right;
  background-color: #fff;
  width: 100%;
  &_chapter {
    border-bottom: 1px solid $background-color-gray;
    @include chapter;
    h2 {
      line-height: 1.4;
    }
  }
}

.user-container_right-content_addedit_content {
  max-width: 320px;
  margin: 0 auto;
  padding: 64px;
  font-size: 14px;
  a{
    color: $light-blue;
    text-decoration: none;
    float:right;
  }
  .user-container_right-content_addedit_content_form-group {
    margin: 40px 0 0;
    label{
      @include label;
    }  
    p{
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .form-arbitrary {
      @include require;
    }
    .input-default {
      @include input_box;
      box-sizing: border-box;
      height: 48px;
      width: 100%;
      margin: 8px 0 0;
      font-size: 16px;
    }
    .user-container_right-content_addedit_content_select-wrap {
      margin: 8px 0 0;
      position: relative;
      background: $white;
    }
    .user-container_right-content_addedit_content_select-default {
      width: 100%;
      position: relative;
      z-index: 2;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      &:focus {
        outline: 0;
        border: solid 1px $light-blue;
      }
    }
  }
}

.user-container_right-content_addedit_content_btn-default {
  @include sell_btn(red);
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  margin-top: 40px;
  &:hover {
    @include btn_hover(red);
  }
  &:focus {
    outline: 0;
  }
}
