.form-page{
  &__header{
    height: 128px;
    background-color: $background-color-gray;
    text-align: center;
    &__text{
      height: 56px;
      padding: 36px 0;
    }
  }
  
  &__footer {
    background-color: $background-color-gray;
    font-size: 12px;
    height: 140px;
    padding: 40px 0;
    margin: auto;
    text-align: center;
    &__list__element {
      padding: 0 5px 30px;
      display: inline-block;
    }
    &__link{
      text-decoration: none;
      color: $font-black;
    }
    &__text {
      margin-top: 6px;
    }
  }
}