@mixin label{
  font-weight: bold;
  display: inline-block;
}

@mixin input_box{
  padding: 10px 16px;
  border: 1px solid $light-gray;
  border-radius: 4px;
  background-color: transparent;
  -webkit-appearance: none; //safari
  -moz-appearance: none;    //firefox
  appearance: none;
}
@mixin input_box_option{
  display: block;
  margin: 5px 0;
}

@mixin require {
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 8px;
  border-radius: 2px;
  color: white;
  background-color: red;
  display: inline-block;
  font-weight: bold;
}

@mixin question {
  width: 14px;
  height: 14px;
  font-size: 10px;
  text-align: center;
  line-height: 13px;
  color: white;
  display: inline-block;
  vertical-align: top;
  border-radius: 7px;
  background-color: $light-blue;
  position: relative;
  top: 4px;
  right: 2px;
  text-decoration: none;
}

@mixin sell_btn($color){
  display: inline-block;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  color: white;
  line-height: 1em;
  transition: .3s;
  background: $color;
  border: 2px solid $color;
} 
@mixin btn_hover($color){
  color: $color;
  background: white;
}
@mixin ctd{
  width:250px;
  padding-top:15px;
  margin-left:20px;
  font-weight:normal;
  letter-spacing: 2px;
}


// @include sell_btn($color);
