.userProfileEditMain {
  height: auto;
  background-color: #f5f5f5;
  margin-bottom: 40px;
  li {
    font-size: 14px;
    &:hover {
      background-color: #f9f6f6;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}


.userProfileEdit {
  margin: 40px auto 0;
  width: 1020px;
  background: #f5f5f5;

  &__main {
    float: right;
    width: 700px;
    margin: 0 auto;
    display: block;
  
    &__head {
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
      margin: 0;
      background: #fff;
    }
    
    &__image {
      background:url(https://www.mercari.com/jp/assets/img/user/user_bg.jpg?72826626);
      padding: 72px 16px 24px;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-size: 0;
      
      &__user {
      
        img {
          border-radius: 50%;
          vertical-align: middle;
        }
        
        &__nameBtn {
          width: 178px;
          margin: 0 0 0 8px;
          vertical-align: middle;
          height: 28px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          font-weight: lighter;
        }

        &__nameBtnerror {
          line-height: 1.5;
          font-size: 14px;

          p {
            margin: 8px 0 0;
            font-size: 14px;
          }
        }
      }
    }
    &__bottom {
      padding: 40px 24px;
      clear: both;
      margin:0;
      background: #fff;
      display: block;
      
      &__form {
        
        &__comment {
          width: 630px;
          max-width: 100%;
          min-height: 194px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          margin: 8px 0 0;
          word-wrap : break-word !important;
          word-break : break-all !important;
          overflow-wrap : break-word !important;
          white-space: pre-wrap !important;

          text input　{
            word-wrap : break-word !important;
            word-break : break-all !important;
            overflow-wrap : break-word !important;
            white-space: pre-wrap !important;
          }
          
        }
      
        &__btn {
          width: 100%;
          margin: 16px 0 0;
          text-align: center;
          background: #ea352d;
          color: #fff;
          display: block;
          line-height: 48px;
          font-size: 14px;
          border-style:none;
        }
      }
    }
  }
}

.userProfileEdit__main__image__user__nameBtn_test {
  width: 170px;
  margin: 0 0 0 8px;
  vertical-align: middle;
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.user-form input {

}

.actions {
  width: 170px;
}

div.field_with_errors {
  background-color: red;
}