footer{
    height:391px;
    background:black;
    width:100%;
    padding-bottom: 10px ;
    
    .nav-contents{
        display:flex;
        height:298px;
        margin:0 190px;
        color:#ffffff;
        .footer-cell{
            width:184px;
            height:241px;
            margin-right: 20px;
            padding:18px;
            ul{
                height:100%;
                width:100%;
                li{
                    font-size:12px;
                    margin-top:14px;
                }
                .footer-social-link{
                    @extend .clearfix;
                    height:42px;
                    width:48px;
                    float:left;
                }
                i{
                    height:32px;
                    width:32px;
                    font-size:32px;
                    color:#ffffff;
                    
                }
            }
        }
        .footer-cell--full-width{
            width:420px;
            height:202px;
            margin-top:18px;
            padding-right:40px;
            .inner-footer-cell-wrapper{
                display:flex;
                .inner-footer-cell{
                    width:195px;
                    height:180px;
                    padding-left:10px;
                    li{
                        margin-top:14px;
                        font-size:12px;
                    }


                }
            }
            
        }
    }
    .footer_bottom{
        height:33px;
        margin:30px 190px 20px 190px;
        display:flex;
        .footer-copyright{
            width:700px;

            text-align:center;
            font-size:12px;
            line-height:33px;
            color:white;
            

        }
    }
}
.footer-sell-btn{
    
    width:160px;
    height:160px;
    background:red;
    border-radius: 50%;
    position:absolute;
    bottom:5%;
    left:85%;
    position:fixed;
    .sell{
        text-align:center;
        margin-top:20px;
        font-size:22px;
        color:white;
        text-decoration: none;
    }
    a{
        text-decoration: none ;
    }
    

    
    
    .icon{
        
        font-size:60px;
        margin:0 50px 30px 50px;
        color:white;


    }
}