header{
    background :#fff;
    text-decoration: none;


    height:100px;
  .header-inner{
     width:1020px;
     padding:0 210px;
        
    
    &__top{
            height:40px;
            padding:6px 10px 0 10px;
            display:flex;
        }
    &__logo{
            height:35px;
            width:136px;
            
          
        .img{
            padding-right:10px;
            
                
            }
        }
    &__top__search{
            height:40px;
            width:851px;
            position:relative;
            padding-right:40px;
        

            

        input{
                height:100%;
                width:798px; 
                margin-left:45px;
                display:inline-block;
                border:none;
                padding:0;
                background:#f5f5f5;
                border-radius:4px;
                border:1px solid $light-gray;
                

            }
        &__form__button{
        
            height:42px;
            width:40px;
            border:none; 
            position:absolute;
            top:0;
            right:6px;
            background:rgb(102, 102, 102);
            border-radius:4px;
            color:#fff;
            }
            
        }
    .clearfix {
        *zoom: 1;
        &:after {
            content: "";
            display: table;
            clear: both;
            }
        }
    &__bottom{
            @extend .clearfix;
            height:44px;
            margin-top:8px;
    &__nav1{
            width:320px;
            height:44px;
            margin-top:8px;
            float:left;
            @extend .clearfix;
    .nav1{
        height:44px;
        margin-top:8px;
        .bl{
            float:left;
            margin-right:30px;
            font-weight:bold;
            font-size:14px;
            @extend .clearfix;
            i{
                color:red;
           }
           a{
               text-decoration: none ;
               color:#333333;
               &:hover {
                   color:$light-blue;
                 }
           }
        }
        .ctd{
            pointer-events : auto;
            float:left;
            margin-right:30px;
            font-weight:bold;
            font-size:14px;
            @extend .clearfix;
            position:relative;
            z-index:1;
        
            #nav-drawer{
                // display:none;
                position:absolute;
                background-color:$white;
                height:600px;
                width:250px;
                font-size:14px;
                &__ctd2{
                    width:600px;

                    padding-top:20px;
                    padding-left:20px;
                    font-weight:normal;
                    letter-spacing: 2px;
                    .child{
                        width:600px;
                        display:inline-block;
                       
                        padding-left:20px;
                    }
                }
            
                &__2{
                    // display:none;
                position:absolute;
                top:0px;
                left:250px;
                background-color:$white;
                height:600px;
                width:250px;
                font-size:14px;
                
                .cd2{
                    width:600px;

                    padding-top:20px;
                    padding-left:20px;
                    font-weight:normal;
                    letter-spacing: 2px;
                }
                
                }
                 .chaild:hover +#nav-drawer__2  {
                    display:block;
            
                    z-index:2;
                    &:hover  > #nav-drawer2 {
                        display:block;
                        z-index:4;
                        margin-left:200px;
                        a:hover + #nav-drawer{
                            display:block;
                            z-index:4;
                            &:hover > #nav-drawer{
                                display:block;
                                width:600px;
                                z-index:2;
    
                            
                            }
                        
                
                            
                        }
                        
                    }
                
                    
        
                    
                }
                
                
            }
            
            a:hover + #nav-drawer{
                display:block;
                z-index:3;
                display:block;
            
    
                
            }
            &:hover > #nav-drawer{
                display:block;
                width:600px;
            
            }
            i{
                 color:red;
            }
            a{
                text-decoration: none ;
                color:#333333;
                &:hover {
                    color:$light-blue;
                  }
            }
            
            }
                
        }
            
    }
        }
        
           
        .header-inner__bottom__nav2{
            @extend .clearfix;
            width:380px;
            height:35px;
             float:right;

            .nav2{
                 height:44px;
                 width:380px;
                 display:flex;
                 line-height:44px;
                 li{
                    width:130px;
                    height:32px;
                    float:left;
                    padding-right:14px;
                    line-height:44px;
                    position:relative;
                    @extend .clearfix;
                        
                    &:nth-child(1){
                        width:90px;
                    }
                    &:nth-child(3){
                        position:absolute;
                        top:50px;
                        right:200px;
                        }
                    i{
                        size:23px;
                        color:$light-gray;
                            
                    }
                    img{
                        border-radius: 50%;
                        height:32px;
                        width:32px;
                        
                    }
                    span{
                        font-size:14px;
                        height:18px;
                    }
                 }
            }
        }
        }
  }