.header1{
    background :#fff;
    text-decoration: none;
    height:100px;
  .header-inner{
     width:1020px;
     padding:0 210px;
    &__top{
            height:40px;
            padding:6px 10px 0 10px;
            display:flex;
        }
    &__logo{
            height:35px;
            width:136px;
            
          
        .img{
            padding-right:10px;
            
                
            }
        }
    &__top__search{
            height:40px;
            width:841px;
            position:relative;
            margin-left:45px;
            &__form{
                height:100%;
                width:798px; 
                padding-left:10px;
                display:inline-block;
                border:none;
                padding-right:42px;
                background:#f5f5f5;
                border-radius:4px;
                border:1px solid $light-gray;
                outline: none;
            }
            &__button{
            height:40px;
            width:40px;
            border:none; 
            position:absolute;
            top:0;
            right:1px;
            background:rgb(102, 102, 102);
            border-radius:4px;
            color:#fff;
            }
            
        }
    .clearfix {
        *zoom: 1;
        &:after {
            content: "";
            display: table;
            clear: both;
            }
        }
    &__bottom{
            @extend .clearfix;
            height:44px;
            margin-top:8px;
    &__nav1{
            width:320px;
            height:44px;
            float:left;
            @extend .clearfix;
    .nav1{
        width:320px;
        height:44px;
        float:left;
        .bl{
            float:left;
            pointer-events : auto;
            margin-right:30px;
            position:relative;
            font-weight:bold;
            font-size:14px;
            @extend .clearfix;
            z-index:2;
            i{
                color:red;
           }
           a{
               text-decoration: none ;
               color:#333333;
               &:hover {
                   color:$light-blue;
                 }
           }
           
        }
        .ctd{
            pointer-events : auto;
            float:left;
            margin-right:30px;
            font-weight:bold;
            font-size:14px;
            @extend .clearfix;
            position:relative;
            z-index:2;

        
            &:hover{
              padding-bottom:32px;
            }
            li:hover + #nav-drawer{
                display:block;
                z-index:3;
            }
            &:hover > #nav-drawer{
                display:block;
            
            
            }
            i{
                 color:red;
            }
            a{
                text-decoration: none ;
                color:#333333;
                &:hover {
                    color:$light-blue;
                  }
            }

            }
        }
    }
    .nav-drawer2{
        width:200px;
        height:200px;
        display:none;
        position:absolute;
        background-color:$white;
        font-size:14px;
        .bl2{
            @include ctd;

        }
        .all-brand{
            @extend .bl2;
        }
    }
    li:hover {
        display:block;
        
        ul{
          display:block;
        }
      }
        }
        
           
        .header-inner__bottom__nav2{
            @extend .clearfix;
            width:380px;
            height:35px;
             float:right;

            .nav2{
                 height:44px;
                 width:380px;
                 display:flex;
                 line-height:44px;
                 li{
                    width:130px;
                    height:32px;
                    float:left;
                    padding-right:14px;
                    line-height:53px;
                    position:relative;
                    @extend .clearfix;
                        
                    &:nth-child(1){
                        width:90px;
                    }
                   
                        &:hover {
                            color:$light-blue;
                        }
                    i{
                        size:23px;
                        color:$light-gray;
                    }
                    img{
                        border-radius: 50%;
                        height:32px;
                        width:32px;
                    }
                    span{
                        font-size:14px;
                        height:18px;
                        @extend .clearfix;
                        display:inline-block;

                          height:32px;
                          line-height:32px;
                        
                    }
                   
                    a{
                        text-decoration: none;
                        color:black;
                        display:inline-block;
                        width:130px;
                    
                    }
                    &:hover {
                        color:$light-blue;
                    }
                 }
            }
            .nav2-login{
                width:380px;
                height:44px;
                text-align:right;
                &__btn{
                    line-height:32px;
                    text-align:right;
                    display:inline-block;
                    margin-left:8px;
                    .login{
                        background:$red;
                        text-decoration:none;
                        font-size:14px;
                        height:32px;
                        display:inline-block;
                        color:$white;
                        padding:0 10px;
                        margin-left:6px;
                        border-radius:4px;
                    }
                    .signup{
                        background:$red;
                        text-decoration:none;
                        font-size:14px;
                        height:32px;
                        color:$white;
                        margin:0 auto;
                        display:inline-block;
                        padding:0 10px;
                        margin-left:6px;
                        border-radius:4px;
                    }
                }
            }
        }
        }
  }


  