.user-main {
  height: 2000px;
  background-color: #f5f5f5;
  li {
    font-size: 14px;
    &:hover {
      background-color: #f9f6f6;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.user-container {
  margin: 40px auto 0;
  width: 1020px;
  background-color: $light-gray !important;
}

.user-container_left-content {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
}

.user-container_left-content_info_list {
  li {
    background-color: $white;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    border-bottom: 1px solid $light-gray;
    position: relative;
    .user-container_left-content_info_list {
      position: absolute;
      top: 0px;
      right: 16px;
      font-size: 25px;
      opacity: 0.4;
    }
  }
}

.user-container_left-content_info_head {
  margin: 40px 0 0;
  font-weight: bold;
}

.user-container_right-content_info_head {
  text-align: center;
  position: relative;
  height: 200px;
  background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?6612079");
  font-size: 14px;
  a {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    &:hover {
      opacity: 0.5;
    }
  }
}

.user-container_right-content_info_head_icon_image {
  border-radius: 50%;
}

.user-container_right-content {
  float: right;
  width: 700px;
}

.user-container_right-
 {
  height: 200px;
}

.user-container_right-content_info_content_title {
  height: 74px;
  background-color: #eee;
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
    line-height: 74px;
    font-weight: bold;
    width: 50%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
}

.active {
  background-color: $white;
  border-top: 2px solid #ea352d;
}

.user-container_right-content_info_content_list {
  li {
    padding: 16px; 
    background-color: $white;
    height: 48px;
    border-bottom: 1px solid $light-gray;
    position: relative;
  }
}

.user-container_right-content_info_content_list_icon {
  float: left;
}

.user-container_right-content_info_content_list_detail {
  float: left;
  width: 600px;
  margin-left: 20px;
}

.user-container_right-content_info_content_list_next {
  position: absolute;
  top: 30%;
  right: 16px;
  font-size: 25px;
}

.user-container_right-content_info_content_list_go {
  li {
    &:hover {
      background-color: $white !important;
    }
  }
  a {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #eee;
    &:hover {
      background-color: #eeeeeebb;
    }
  }
}

.user-container_right-content_items {
  margin-top: 40px;
}

.user-container_right-content_items_head {
  padding: 0 16px;
  height: 72px;
  line-height: 72px;
  background-color: #fafafa;
  font-weight: bold;
}

.user-container_right-content_items_title {
  height: 74px;
  background-color: #eee;
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
    line-height: 74px;
    font-weight: bold;
    width: 50%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
}

.user-container_right-content_items_list {
  height: 236px;
  background-color: $white;
}

.user-container_right-content_items_list_none {
  color: #eee;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

.user-container_right-content_items_list_none_image {
  border-radius: 50%;
  filter: grayscale(100%);
}

.user-details {
  margin: 40px auto;
  width: 700px;
}

.user-details_profile {
  background: url('https://www.mercari.com/jp/assets/img/user/user_bg.jpg?72826626');
  background-size: cover;
}
.user-details_profile_box {
  text-align: center;
  padding-top: 50px;
}

.user-details_profile_box_name {
  margin: 8px 0 16px;
  font-size: 18px;
}

.user-details_profile_info {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
}

.user-details_profile_info_list {
  margin-left: 12px;
}

.user-details_info {
  background: $white;
}

.user-details_info_review {
  height: 50px;
  width: 360px;
  margin: 0 auto;
  span:nth-child(-n+2) {
    padding-right: 30px;
  }
}

.user-details_info_review_icon {
  float: left;
  width: 100px;
  padding-top: 14px;
}

.user-details_info_review_icon_size {
  font-size: 24px;
}

.good-icon {
  color: #ff6b8b;
}

.normal-icon {
  color: #ff983b;
}

.bad-icon {
  color: #48a8ff;
}

.user-details_info_review_icon_number {
  width: 60px;
  padding-left: 30px;
}

.user-details_info_description {
  padding: 30px 50px 60px;
  border-top: 2px solid #f5f5f5;
}

.user-details_description_social {
  margin: 0 auto;
  padding: 56px 0;
  background: $white;
}

.user-details_description_social_box {
  text-align: center;
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.user-details_description_social-icon {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  line-height: 44px;
  font-size: 44px;
  margin-top: 16px;
}

.facebook-icon {
  color: #4267b2;
}

.twitter-icon {
  color: rgb(29, 161, 242);
}

.line-icon {
  color: #00b900;
}

.hide {
  display: none;
}

.next1, .next2, .next3{
  cursor: pointer;
  background-color: #ea352d;
  width: 300px;
}

.wrong-message {
  color: $red;
}
