-breadcrumb :category,@category
.category-items-container
  .category-items-container__wrapper
    %ul.category-items-container__wrapper__nav
      -# -@category.each do |category|
      -#   %li
    .category-items-container__wrapper__box
      %h1.category-items-container__wrapper__box__title #{@category.name}
      .category-items-container__wrapper__box__list
        - @items.each do |item|
          .category-items-container__wrapper__box__list__box
            .category-items-container__wrapper__box__list__box__image
              =image_tag(item.item_images[0].image.to_s,class: "images")
            .category-items-container__wrapper__box__list__box__text
              .category-items-container__wrapper__box__list__box__text__title #{item.name}
              .category-items-container__wrapper__box__list__box__text__num

                %span.like-num 15
                =fa_icon "heart",class:"icon-like"
                .category-items-container__wrapper__box__list__box__text__num__price ¥#{item.price}
              .category-items-container__wrapper__box__list__box__text__title__tax (税込)
        = paginate @items