.form-page
  %header.form-page__registration
    %h1
      =link_to image_tag("top-logo.png", class: "form-page__header__logo", width: 193, height: 49),"/"
    .form-page__registration__progress
      %ol
        %li.progress-red__text
          会員情報
          .form-page__registration__progress__status.progress-red__mark
        %li.progress-red__text
          電話番号認証
          .form-page__registration__progress__status.progress-red__mark
        %li
          お届け先住所入力
          .form-page__registration__progress__status
        %li
          支払い方法
          .form-page__registration__progress__status
        %li
          完了
          .form-page__registration__progress__status
