.form-page
  %footer.form-page__footer
    %ul.form-page__footer__list
      %li.form-page__footer__list__element
        =link_to "プライバシーポリシー", "/", class: "form-page__footer__link"
      %li.form-page__footer__list__element
        =link_to "メルカリ利用規約 ", "/", class: "form-page__footer__link"
      %li.form-page__footer__list__element
        =link_to "特定商取引に関する表記", "/", class: "form-page__footer__link"
    =link_to image_tag("logo-gray.png", class: "form-page__footer__logo", width: 65, height: 65),"/"
    %p.form-page__footer__text © 2019 Mercari
